
body {
  background-color:#808080;
}

.navbar ul {
  list-style: none;
  background-color:#250 128 114;
}

.navbar li {
  float:left;
  text-align: center;
}

.column1 {
  width: 70%;
  float: left;
}

.column2 {
  width: 30%
  float: left;
}
